---
import { getCollection } from "astro:content"
import Layout from "../../layouts/Layout.astro"
import Navbar from "../../components/Navbar.astro";
import PostHeader from "../../components/article/PostHeader.astro";

export async function getStaticPaths() {
  const articleEntries = await getCollection('articles');
  return articleEntries.map(article => ({
    params: { slug: article.slug }, props: { article },
  }));
}

const { article } = Astro.props;
const { Content, remarkPluginFrontmatter } = await article.render();
const minutesRead = remarkPluginFrontmatter.minutesRead;
---

<Layout title={article.data.description}>
  <Navbar />
  <article class="flex flex-col mx-auto max-w-full text-base w-full">
    <header class="w-full px-6 pt-16 pb-8 article-grid">
      <PostHeader 
        banner={article.data.banner}
        date={new Date(article.data.date)}
        title={article.data.title}
        readingTime={minutesRead}
        subtitle={article.data.description}
        tags={article.data.tags}
        slug={article.slug}
        type="article"
      />
    </header>
    <main class="main-article article-grid px-6 lg:px-0 text-xl lg:text-2xl leading-10 my-8 text-text-700 w-full larger-line-height">
      <Content />
    </main>
  </article>
</Layout>
